<style>

#/* Make all slide backgrounds dark blue */
#.reveal-test {
#  background-color: #003478 !important;
#  background-opacity: .3;
#}


/* Style all slides*/
.slide {
  font-family: Corbel;
  font-size: 20px;
#  color: white;
#  background-color: #003478;
#  }

h1 {
  font-family: Corbel;
  color: #003478; 
    font-size: 38px;
}

h2 {
  font-family: Corbel;
  color: #003478;
  font-size: 32px;
}

h3 {
  font-family: Corbel;
  color: #003478;
  font-size: 28px;
}

p.caption{
font-size: small;
}

</style>