<style>
TOC {border-color: #133469;

}

body{font-family: Corbel;
     font-size: 18px;
     background-color: #FDFDFD;
}

h1{color: #133469; 
}

h2{color: #009CA6;
}

h3{color: #5482AB;
}

p.caption{
font-size: small;
}

</style>